<header>
    <h1>Concordancier bilingue allemand-français</h1>
    <div class="contenu-flex-header">
        <p><em>Version alpha</em></p>
        <p><a href="/" title="Home Page">Accueil</a></p>
    </div>
</header>